# Logs
logs
*.log
npm-debug.log

# Runtime data
pids
*.pid
*.seed

# Coverage
lib-cov
coverage

# Build output
dist/

# Dependencies
node_modules

# IDE
.idea/
.vs/
.vscode/

# OS
.DS_Store

# Old vendors
public/vendors/
