doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="author" content="Jirufik, jirufik@gmail.com")
    meta(name="copyright" content="Jirufik gamez")
    meta(name="keywords" content="jirufik, jirufik gamez, magic ball, жЫруфик, жируфик, магический шар")
    meta(name="description" content="Magic 8-Ball — интерактивный гадательный шар")
    title= title
    link(rel="shortcut icon" href="images/favicon.png")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    block content
